<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="fi.vtt.nubomedia.webrtcpeerandroid"
    xmlns:tools="http://schemas.android.com/tools"  >
    <uses-sdk tools:overrideLibrary = "webrtc.org.libjingle_peerconnection"/>


</manifest>
